#set section=Root
#set metadescription=PanicDealer's Home Page.

<style>
    .centered {
        width: 50%;
        margin: 0 auto;
    }

    #intro td {
        width: 100%;
        text-align: center;
    }

    #intro h3, .intro h4 {
        text-align: center;
    }
</style>

<div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
            <div class="centered">
                <table id="intro" style="width: 100%;margin-bottom: 16px">
                    <tr>
                        <td>
                            <div style="font-size: 24px; font-family: 'Roboto','Helvetica','Arial',sans-serif; font-weight: 300;">
                                Hey, guys, my name is Alex and this is my f. Home Page
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="images/under_construction_hammerC.gif" style="display: block;margin: 0 auto;"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="centered" style="margin-top: 10px">
                                I work as Web Developer @ <a href="http://www.BansheeGz.com">BansheeGz</a>
                            </div>
                            <div class="centered" style="margin-top: 10px">
                                Contact me:
                                <script language="JavaScript">
                                    writeEmail("admin", "panicdealer.com")
                                </script>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="centered">
                                <a style="text-align: center;"
                                   href="https://www.youtube.com/playlist?list=PL6C533CEB97B0F9A5">Listen to my music</a> (Russian language only)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td>
                                                    IT"S ME
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="images/downArrowMeC.gif" width="64" height="64">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="bg-border" style="width: 400px; margin: 0 auto">
                                                        <img src="images/neoC.jpg" width="400" height="400"/>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="200">
                                        <img src="images/heartC.gif"/>
                                    </td>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" width="260">
                                            <tr>
                                                <td>
                                                    <div style="margin-bottom: 10px">
                                                        AND She Is My Lovely Wife
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="images/downArrowWifeC.gif" width="64" height="64">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="images/kateC.jpg"/>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>